.page-about .about-hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1a1a1a;
  background-image: url(../images/acstudiomatic.avif);
  background-size: cover;
  background-position: center;
}

.page-about .about__title {
  padding-top: 0;
  font-size: 84px;
}

.page-about .about__text {
  font-size: 48px;
}

.about-story {
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-story__inner {
  display: flex;
  gap: 60px;
  align-items: center;
  background-color: #f4f4e7;
  border-radius: 20px;
  padding: 60px;
}

.about-story__info {
  flex: 1;
}

.about-story__title {
  text-align: left;
  margin-bottom: 30px;
}

.about-story__text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #0e0d0d;
  opacity: 0.9;
}

.about-story__text:last-child {
  margin-bottom: 0;
}

.about-story__image-box {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

.about-story__img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  max-height: 550px;
}

.about-values {
  padding: 40px 0 120px;
}



@media (max-width: 1280px) {
  .page-about .about__title {
    font-size: 65px;
  }
  .page-about .about__text {
    font-size: 40px;
  }
  .about-story__inner {
    padding: 40px;
    gap: 40px;
  }
}

@media (max-width: 980px) {
  .about-story__inner {
    flex-direction: column;
  }
  .about-story__image-box {
    width: 100%;
  }
  .about-values {
    padding: 0 0 100px;
  }
}

@media (max-width: 790px) {
  .page-about .about__title {
    font-size: 47px;
  }
  .page-about .about__text {
    font-size: 32px;
  }
}

@media (max-width: 612px) {
  .page-about .about__title {
    font-size: 34px;
  }
  .page-about .about__text {
    font-size: 24px;
  }
  .about-story__inner {
    padding: 30px 20px;
  }
  .about-story__title {
    font-size: 28px;
  }
}